@font-face {
    font-family: Designer;
    src: url(fonts/Designer.otf) format("opentype");}

@font-face{
    font-family: Designer-Bold;
    src: url(fonts/Designer-Bold.otf) format("opentype");}

@font-face{
    font-family: Designer-Book;
    src: url(fonts/Designer-Book.otf) format("opentype");}

@font-face {
    font-family: Ikaros-Light;
    src: url(fonts/Ikaros-Light.otf) format("opentype");}
@font-face {
    font-family: Ikaros-Regular;
    src: url(fonts/Ikaros-Regular.otf) format("opentype");}

*{
   background-color:#141414
}

h1{text-align: center;
   font-size: 700%;
   font-family: Designer-Bold;
    color: white;}

    
#videoBG {
	position: fixed;
	top: 50%;
	left: 50%;
    transform:translate(-50%,-50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}


#o:hover{opacity: 1;}
#or:hover{opacity: 1;}
#ur:hover{opacity: 1;}
#u:hover{opacity: 1;}
#ul:hover{opacity: 1;}
#ol:hover{opacity: 1;}

